[user]
	email = guilherme-louro@hotmail.com
	name = Guilherme Louro
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = true
[color "status"]
    added = yellow
    changed = cyan
    untracked = red
[alias]
    clean-tags=for-each-ref --format="%(refname:short)" refs/tags/* | xargs git tag -d && git fetch --tags
    st = status -sb
    ci = commit -m
    br = branch
    df = diff
    lg = log -pgit ps
    co = checkout
    fu = fetch upstream
    tree = log --graph --pretty=oneline --decorate
    pom = pull origin master
    ps = push
    pst = push --tags
    pl = pull
    pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
    amend = commit --amend -C HEAD
    ll   = log --pretty=oneline --decorate --abbrev-commit --max-count=15
    lll  = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    rn = log -M
    short = shortlog -s -n
    # Displays active users in the repository in the past 6 months
    active = shortlog --numbered --summary --email --no-merges --since="6 months"
[core]
	editor = vim
